[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "OpenMesh"]
	path = OpenMesh
	url = https://www.graphics.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "tinygltf"]
	path = tinygltf
	url = https://github.com/syoyo/tinygltf.git
