[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glad"]
	path = extern/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/inipp"]
	path = extern/inipp
	url = https://github.com/mcmtroffaes/inipp
[submodule "extern/tinyply"]
	path = extern/tinyply
	url = https://github.com/ddiakopoulos/tinyply
